<!DOCTYPE html>
<html lang="en-us">

{% include head.html %}

<body>

  <header class="page-header">
    <div class="img-preview">
      <img src="excited/aha.gif" alt="" class="banner-img">
      <img src="" id="preview" class="gif-preview">
    </div>
    {{ content }}
  </header>

  <div class="gif-listing">
  {% include site-index.html %}
  </div>

  <script type="text/javascript">
    var preview = document.getElementById("preview");

    function hoverListener(evt) {
      preview.src = evt.target.href;
    };

    var links = document.getElementsByClassName("gif");
    for(var i=0; i<links.length; i++) {
      links[i].addEventListener("mouseover", hoverListener);
    }
  </script>

</body>

{% include closing-tags.html %}